body {
  margin: 0;
  display: flex;
  background-color: red;
}
#gameDiv {
  margin: 0 auto;
}

.left {
  height: 90vh;
  width: 10vw;
  margin: 1% auto;
  display: flex;
  flex-direction: column;
}
.right {
  height: 90vh;
  width: 10vw;
  border: 1px solid black;
  margin: 1% auto;
}
.click {
  margin: auto;
}
.pic {
  display: flex;
  margin: 5% auto;
  width: 100%;
  height: 20%;
}
.name {
  width: 100%;
  height: 30%;
}
img {
  margin: 0 auto;
  border: 4px solid white;
  border-radius: 5px;
  margin: auto;
  height: 100%;
  width: 80%;
}
.search {
  background-color: blue;
  border-radius: 5px;
  border: 0;
  color: white;
  font-family: impact;
  font-size: 15px;
}
.person {
  font-family: optima;
  color: white;
}
.click {
  background-color: black;
  color: white;
  border: 0;
  font-family: optima;
  height: 5vh;
  width: 5vw;
}
